<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
   
   <bean id="person" class="org.jubot.model.Person">
		<property name="name" value="Aleahr"/>
		<property name="age" value="32"/>
		<property name="bday" value="March 20, 1979"/>
	</bean>
  
  	
  	<bean id="personAction" class="org.jubot.action.PersonAction" scope="prototype">
    	<property name="person" ref="person"/>
  	</bean>
   
</beans>